.popup-card {
	border: none;
	border-radius: 15px;
	position: relative;
	max-width: 1250px;
	flex-wrap: nowrap;
	flex-direction: row;
	margin: 0 !important;

}
.popup-area::-webkit-scrollbar {
    display: none;
    }
    .popup-area{
    height: 100vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    display: flex;
    align-items: center;

    }

.modal {
	overflow-y: scroll;
}

.popup-card .flex.justify-between.mt-12.mb-12.pr-6 button {
    margin: 0 8px;
}

.body {
    padding-right: 11px;
}

.popup-card h2 {
    font-size: 24px;
    font-weight: 500;
    color: #000;
    display: inline-block;
}

.popup-card span {
    font-size: 20px;
    font-weight: 400;
    color: #434343;
}

.popup-card hr {
    border: 1px solid #434343;
    margin-bottom: 14px;
}

.img {
    padding: 40px 0px 75px 25px;
}

.location {
    display: flex;
    margin-bottom: 21px;
}

.location img {
    width: 20px;
}

.location span {
    font-size: 16px;
    font-weight: 400;
    color: #434343;
}

.currency {
    display: flex;
    align-items: center;
    margin-bottom: 51px;
}

.currency img {
    width: 24px;
}

.currency h2 {
    font-weight: 600;
    margin-bottom: 0;
}

.detail {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 15px;
    padding-right: 40px;
}

.detail h2 {
    margin-top: 12px;
}

.audience {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.audience h2 {
    margin-bottom: 0;
}


.popup-btn-outline {
    width: 194px;
    color: black;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #EBAA24;
    text-transform: capitalize !important;
    font-size: 16px;
}

.popup-btn {
    width: 194px;
    color: black;
    font-size: 16px;
    background-color: #EBAA24;
    border: 1px solid #EBAA24;
    text-transform: capitalize;

}

.popup-btn:hover {
    color: white;
    background-color: #EBAA24;
    border: 1px solid #EBAA24;
}

.popup-btn-outline:hover {
    color: white;
    background-color: #EBAA24;
    border: 1px solid #EBAA24;
}

.close-btn {
    position: absolute;
    top: 23px;
    right: 25px;
}

@media only screen and (max-width: 1200px) {

    .card.popup-card span {
        font-size: 16px;
    }

    .card.popup-card h2 {
        font-size: 20px;
    }

    .detail {
        margin-bottom: 13px;
        padding-right: 28px;
    }

    .card.popup-card .currency {
        margin-bottom: 30px;
    }

    
    .card.popup-card figure {
        width: 400px;
        flex: 0 0 auto;
        padding: 30px 0px 30px 20px;
    }

    .close-btn {
        top: 20px;
        right: 20px;
        max-width: 34px;
        padding: 0 !important;
        background: transparent !important;
    }
    .popup-card .flex.justify-between.mt-12.mb-12.pr-6 button {
        margin: 0 8px;
        width: auto;
        padding: 0 10px;
        width: 30.3%;
    }

    .flex.justify-between.mt-12.mb-12.pr-6 {
        margin-bottom: 3px;
        margin-top: 20px;
    }

    .card-body.body {
        flex: inherit;
        width: 100%;
        max-width: 100%;
        padding: 21px;
    }



}

@media only screen and (max-width: 991px) {

    .popup-card {
        flex-direction: column;
        box-shadow: 0 5px 18px #0000001a;
        margin-top: 40px !important;
    }

    
    .card.popup-card  figure {
        width: 100%;
        flex: 0 0 auto;
        padding: 30px;
        height: 370px;
        margin-top: 20px;
    }

    .card-body.body {
        padding: 30px;
        padding-top: 0;
    }

    .card-body.body .pt-10 {
        padding-top: 0;
    }

    .close-btn {
        top: 11px;
        right: 14px;
        max-width: 30px;
    }
    .close-btn label:hover {
        background: #fff !important;
    }
    

    .flex.justify-between.mt-12.mb-12.pr-6 {
        margin-bottom: 3px;
        margin-top: 20px;
        padding-right: 0;
    }






}

@media only screen and (max-width: 575px) {

    
    .card.popup-card  figure {
        padding: 20px;
        height: 240px;
        margin-top: 21px;
    }


    .close-btn {
        top: 0px;
        right: 13px;
        max-width: 28px;
    }

    .card-body.body {
        padding: 19px;
        padding-top: 0;
    }

    .card.popup-card h2 {
        font-size: 18px;
        margin-top: 6px;
    }

    .card.popup-card span {
        font-size: 15px;
        margin-right: 25px;
    }

    .card.popup-card .detail span {
        margin-right: 0;
    }

    .card.popup-card .currency {
        margin-bottom: 17px;
    }

    .card.popup-card .currency h2 {
        margin-top: 0;
    }

    .detail {
        margin-bottom: 5px;
        padding-right: 10px;
    }

    .card.popup-card .flex.items-center.justify-between {
        flex-wrap: wrap;
    }


    .card.popup-card .flex.items-center.justify-between>* {
        width: 50%;
    }

    .popup-card .flex.justify-between.mt-12.mb-12.pr-6 button {
        margin: 0 5px;
        width: auto;
        padding: 0 9px;
        width: 30.39%;
        font-size: 14px;
        height: 40px;
        min-height: 40px;
    }

    .card.popup-card h2.mb-8 {
        margin-bottom: 20px;
        margin-top: 0;
    }

    .card.popup-card 
    .audience h2{
        margin-top: 0;
    }

}